.small-img {
    width: 400px; /* ajusta el tamaño según lo necesario */
    height: auto; /* ajusta la altura de forma proporcional */
  }
  
  .small-card {
    min-width: 300px; /* Establece el ancho mínimo */

    width: 450px; /* ajusta el tamaño según lo necesario */
    height: auto; /* ajusta la altura de forma proporcional */
    margin: 10px; /* ajusta el margen según lo necesario */
  }
  