<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input #email name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #password name="password" type="password"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button routerLink="/register"
   expand="full">Registrarse</ion-button>

  <ion-button (click)="logueo(email,password)" expand="full">Iniciar Sesión</ion-button>
</ion-content>
